---
# Stylesheet
---

$gray-light : #ddd;
$gray : #808080;
$gray-dark: #222;
$gray-dark-2: #444;
$white : #fff;
$dim : rgba(0,0,0,0.5);

$max-width: 37em;

$calc-pad : 35em;

$bp-med : 34em;
$bp-med-2 : 46em;
$bp-large : 60em;
$bp-header : 57em;
$bp-xl : 85em;

$border : 0.1rem;

/************Reset**************/
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}
html, body, div, object, iframe, fieldset { 
	margin: 0; 
	padding: 0; 
	border: 0;
} 
ol, ul { 
	list-style: none;
	margin: 0;
	padding: 0;
} 
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
header, footer, nav, section, article, hgroup, figure {
	display: block;	
}
legend {
	display: none;
}
/************End Reset**************/

/************Global**************/
body {
	background: $white;
	color: $gray-dark;
	font: 120%/1.4 "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	padding: 0;
	-webkit-text-size-adjust: 100%;
}
a {
	color: $gray;
	text-decoration: none;
}
a:hover, a:focus {
	color: $gray-dark;
}
p {
	margin: 0 0 1em;
}
img, object, video {
	max-width: 100%;
	height: auto;
	border: 0;
}
a img {
	border: 0;
	outline: 0;
}
h1 {
	font-size: 2.3em;
	line-height: 1;
	letter-spacing: -0.02em;
	margin: 0 0 0.2em;

	@media all and (min-width: $bp-med) {
		font-size: 3em;
	}
}
h2 {
	text-transform: lowercase;
	font-size: 2em;
	line-height: 1.1;
	margin: 0 0 0.4em;

	@media all and (min-width: $bp-med) {
		font-size: 3em;
	}
}
h3 {
	font-size: 1.3em;
	line-height: 1.1;
	margin: 0 0 0.2em;
	text-transform: lowercase;
}
h4 {
	font-size: 1em;
	text-transform: lowercase;
	margin: 0.5em 0;
}

h2 a, h3 a {
	color: $gray-dark;

	&:hover {
		color: $gray;
	}
}

blockquote {
	font-size: 1.3rem;
	font-style: italic;
	margin-left: 0;

	p {
		margin-bottom: 0;
	}
}

small {
	font-style: italic;
	color: rgba(0,0,0,0.8);
}

input[type=search] {
	-webkit-appearance: none;
	border-radius: 0;
}
::-webkit-input-placeholder {
	color: #808080;
}
:-moz-placeholder {  
    color: #808080;
}

code {
	background: rgba(0,0,0,0.05);
	padding: 0.3em;
}

pre {
	background: $gray-dark;
	color: $white;
	padding: 1rem;
	white-space: pre;
	overflow: auto;
}
/************End Global**************/

/************Layout**************/
/* Grid 2up */

.g {
	text-align: left;
	clear: both;
	margin: 0 -0.8em;
}

.gi {
	padding: 0.8em;

	p {
		font-size: 85%;
	}
}

//Goes from one column to 2x2
.g-2up {
	@media all and (min-width: $bp-med) {
		> .gi {
			float: left;
			width: 50%;
			
			&:nth-of-type(odd) {
				clear: left;
				padding-right: 0.5em;
			}

			&:nth-of-type(even) {
				padding-left: 0.5em;
			}
		}
	}
}

//Goes from one column to 3x3
.g-3up {
	@media all and (min-width: $bp-med) {
		> .gi {
			float: left;
			width: 33.333333%;
			
			&:nth-of-type(3n+1) {
				clear: left;
			}
		}
	}
}

//Goes from one column to 2x2 to 4x4
.g-4up {
	@media all and (min-width: $bp-med) {
		> .gi {
			float: left;
		}
	}

	@media all and (min-width: $bp-med) and (max-width: $bp-large) {
		> .gi {
			width: 50%;
			
			&:nth-of-type(odd) {
				clear: left;
			}
		}
	}

	@media all and (min-width: $bp-large) {
		> .gi {
			width: 25%;
			
			&:nth-of-type(4n+1) {
				clear: left;
			}
		}
	}
}


//Goes from one column to 2x2 to 3x3 to 4x4
.g-4up-alt {
	@media all and (min-width: $bp-med) {
		> .gi {
			float: left;
		}
	}

	@media all and (min-width: $bp-med) and (max-width: $bp-med-2) {
		> .gi {
			width: 50%;
			
			&:nth-of-type(odd) {
				clear: left;
			}
		}
	}

	@media all and (min-width: $bp-med-2) and (max-width: $bp-large) {
		> .gi {
			width: 33.333333333%;
			
			&:nth-of-type(3n+1) {
				clear: left;
			}
		}
	}

	@media all and (min-width: $bp-large) {
		> .gi {
			width: 25%;
			
			&:nth-of-type(4n+1) {
				clear: left;
			}
		}
	}
}


/************End Layout**************/

/************Structure**************/
.container {
	margin: 0 auto;
	overflow: hidden;
}

// Header
.header {
	position: relative;
	padding: 0;
	overflow: hidden;
	background: rgba(0,0,0,0.05);
	
	@media all and (min-width: $bp-header) {
		padding: 2em 1em;
	}

	@media all and (min-width: $bp-xl) {
		padding: 2em calc(50% - #{$calc-pad}) 2em;
	}
}

.logo-header {
	position: relative;
	float: left;
	margin: 0.5em 0 0 0.5em;
	text-align: center;
	
	a {
		display: block;
		padding: 0.5em 0.5em 0.5em 2.5em;
		color: $gray-dark;
		position: relative;

		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}
	}

	.atom {
		position: absolute; 
		top: 0;
		left: 0;
		width: 2.4em;
		height: 2.4em;
	}

	@media all and (min-width: $bp-header) {
		margin: 0;
	}
}

/*! responsive-nav.js 1.0.23 by @viljamis http://responsive-nav.com/ */
.nav { 
	ul {
	  margin: 0;
	  padding: 0;
	  width: 100%;
	  display: block;
	  list-style: none;
	}

	h4 {
		margin: 0;
	}

	li {
	  width: 100%;
	  display: block;

	  @media all and (min-width: $bp-header) {
	  	float: left;
	  	width: auto;
	  	margin-right: 0.5em;
	  }

	  @media all and (max-width: 40em) {
		&:nth-child(1) {
			a {
				background: rgba(0,0,0,0.0);
			}
		}

		&:nth-child(2) {
			a {
				background: rgba(0,0,0,0.02);
			}
		}
		&:nth-child(3) {
			a {
				background: rgba(0,0,0,0.04);
			}
		}
		&:nth-child(4) {
			a {
				background: rgba(0,0,0,0.06);
			}
		}
		&:nth-child(5) {
			a {
				background: rgba(0,0,0,0.08);
			}
		}
	  	
	  }
	}

	a {
		display: block;
 		padding: 1em;
 	 	color: $gray-dark;
 	 	font-weight: bold;
 	 	background: rgba(0,0,0,0.05);
 	 	text-transform: lowercase;

 	 	&:hover, &:focus {
 	 		background: rgba(0,0,0,0.2) !important;
 	 	}

 	 	@media all and (min-width: 42em) {
			padding: 0.5em 1em;
		}
	}

	&.opened {
	  max-height: 9999px;
	}

	@media all and (min-width: $bp-header) {
		overflow: hidden;
		float: right;
	}
}

.js .nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  clear: both;
}

.nav-toggle {
  padding: 1em;
  float: right;
  display: block;
  text-transform: lowercase;
  text-align: center;
  font-weight: bold;

  &:hover, &:focus {
  	background: rgba(0,0,0,0.05);
  }
}

.closed .nav-toggle {
	background: rgba(0,0,0,0.05);
}

@media screen and (min-width: $bp-header) {
  .js .nav {
    position: relative;
    clear: none;
  }
  .js .nav.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}


.logo-container {
	max-width: 32rem;
	text-align: center;
	margin: 0 auto;
}

.logo {
	text-transform: lowercase;
	
	margin: 0 auto;
	font-size: 3rem;
	position: relative;
	line-height: 1;
	margin: 0;

	@media all and (min-width: $bp-med) {
		font-size: 5rem;
		display: inline-block;
		padding-left: 6rem;

		.atom {
			position: absolute;
			top: 0.5rem;
			left: 0;
			z-index: 1;
		}
	}	
}

.atom {
	display: block;
	width: 5rem;
	height: 5rem;
	margin: 0 auto;
	background: url(/assets/icon-atom.svg) no-repeat;
	background-size: 100% 100%;
	-webkit-animation: rotation 10s linear infinite;
	-moz-animation: rotation 10s linear infinite;
	-o-animation: rotation 10s linear infinite;
	animation: rotation 10s linear infinite;
}

.tagline {
	text-transform: lowercase;
	font-size: 0.8em;
	position: relative;
	z-index: 1;

	@media all and (min-width: $bp-med) {
		text-align: right;
		padding-right: 0.8rem;
		margin-top: -0.7em;
	}
}

// Main Content
.main {
	margin: 0 auto;
	overflow: hidden;
	background: none;
	padding: 0;
}

.docs .main {
	padding: 2em 1em;
	background: rgba(0, 0, 0, 0.1);

	@media all and (min-width: $bp-large) {
		padding: 4em 1em;
	}

	@media all and (min-width: $bp-xl) {
		padding: 4em calc(50% - #{$calc-pad});
	}
}

.section {
	padding: 2em 1em;
	overflow: hidden;

	h1 {
		@media all and (min-width: $bp-med) {
			text-align: center;
		}
	}

	@media all and (min-width: $bp-med) {
		padding: 4em 1em;
	}

	@media all and (min-width: $bp-large) {
		&.section-short {
			padding: 4em calc(50% - 24em);
		}
	}

	@media all and (min-width: $bp-xl) {
		padding: 4em calc(50% - #{$calc-pad});
	}
}

.section-1 {
	background: rgba(0,0,0,0.07);
}

.section-2 {
	background: rgba(0,0,0,0.09);
}

.section-3 {
	background: rgba(0,0,0,0.11);
}

.section-4 {
	background: rgba(0,0,0,0.13);
}

.section-5 {
	background: rgba(0,0,0,0.15);
}

.section-6 {
	background: rgba(0,0,0,0.17);
}

.section-7 {
	background: rgba(0,0,0,0.19);
}
.section-8 {
	background: rgba(0,0,0,0.21);
}

//Section Header
.section-title {
	clear: both;
	@media all and (min-width: $bp-med) {
		text-align: center;
	}
	
}

//Section Icons for About Page
.section-wrap {
	@media all and (min-width: $bp-large) {
		display: -webkit-flex;
  		display: flex;
  		align-content: flex-start;
	}
}

.section-icon {
	width: 16em;
	display: block;
	margin: 0 auto;
}

.section-text {	

	@media all and (min-width: $bp-large) {
  		-webkit-flex: 1;
  		flex: 1;
  		padding-left: 2em;
	}
}


/* Footer */
.footer {
	clear: both;
	padding: 1em calc(50% - #{$calc-pad});
	background: rgba(0,0,0,0.23);

	.atomic-design {
		margin-bottom: 1em;
	}

	@media all and (min-width: 40em) {
		padding-top: 4em;
		padding-bottom: 4em;
	}
}

.footer-nav {
	margin-bottom: 2em;

	li {
		border-bottom: 1px solid $gray;

		@media all and (min-width: 50em) {
			display: inline-block;
			border: 0;
		}
	}

	a {
		display: block;
 		padding: 0.5em 1em;
 		font-weight: bold;
 	 	color: $gray-dark;
 	 	background: rgba(0,0,0,0.12);
 	 	text-transform: lowercase;

 	 	&:hover, &:focus {
 	 		background: rgba(0,0,0,0.2) !important;
 	 	}
	}

	@media all and (min-width: 50em) {
		text-align: center;
	}
}

.credits {
	font-size: 85%;
	text-align: center;
	padding: 0 0.8em;

	p {
		margin: 0;
	}
}

/************End Structure**************/

/************Text**************/
//Block Links
.block-link {
	display: block;
	color: $gray-dark;

	&:hover, &:focus {
		background: rgba(0,0,0,0.05);
	}
}

.intro {
	font-size: 1.8rem;

	@media all and (min-width: $bp-med) {
		text-align: center;
		max-width: 25em;
		margin: 0 auto;

		&.left {
			text-align: left;
		}
	}
}

.list {
	margin-bottom: 2em;

	li {
		margin-bottom: 0.5em;
	}
}

/************End Text**************/

.l-two-col {
	@media all and (min-width: $bp-large) {
		display: -webkit-flex;
  		display: flex;
  		flex-direction: row-reverse;
	}
}

.content {
	counter-reset: big-nums;
	width: 100%;
	
	p {
		counter-reset: big-nums;
	}
	
	pre code {
		padding: 0;
	}
	
	h1 {
		margin-bottom: 0.6em;
	}
	
	h2 {
		font-size: 1.5em;
		margin: 1.2em 0 0.6em 0;
	}

	ul {
		margin: 1.5em 3em;
		list-style: square;
	}

	ol {
		margin: 1.5em 1em;
		
		li {
			counter-increment: big-nums;
			position: relative;
			padding-left: 2em;
		}

		li:before {
			content: counter(big-nums);
			display: block;
			background: rgba(0,0,0,0.5);
			color: #fff;
			padding: 0 0.5em;
			border-radius: 1em;
			position: absolute;
			top: 0;
			left: 0;

		}
	}

	li {
		margin-bottom: 0.5em;
	}
	
	@media all and (min-width: $bp-large) {
		padding-left: 2em;
		width: 75%;
	}
	
	.highlight {
		margin: 1.5em 0;
	}
	
}

.sidebar {
	@media all and (max-width: $bp-large) {
		border-top: 1px solid rgba(0,0,0,0.2);
		margin-top: 2em;
		padding-top: 2em;
	}
	@media all and (min-width: $bp-large) {
		width: 14em;
		border-right: 1px solid rgba(0,0,0,0.2);
	}
}

.docs-nav {

	li {
		margin-bottom: 0.5em;
		line-height: 1.2;
	}

	ul {
		margin-bottom: 2em;
	}
}

.docs-nav-title {
	display: block;
	font-weight: bold;
	color: $gray-dark;
	margin-bottom: 0.4em;
}

.docs-nav-list {
	font-size: 80%;

	.selected {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 2px;
			left: -1em;
			display: block;
			width: 0;
			height: 0;
			margin-left: -4px;
			pointer-events: none;
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			border-left: 10px solid $gray;
		}
	}
}




/************Buttons**************/
.btn-group {
	text-align: center;
	margin: 1em 0;
	padding: 1em 0 2em;

	.btn {
		display: block;
		margin-bottom: 0.5em;
	}
	

	@media all and (min-width: 40em) {
		.btn {
			display: inline-block;
			margin: 0 0.25em;
		}
	}
}

.btn {
	text-transform: lowercase;
	font-weight: bold;
	padding: 1rem;
	background: $gray-dark;
	color: $white;

	[class*="icon-"] {
		display: inline-block;
		margin-right: 0.2em;
	}

	&:hover {
		background: $gray;
		color: $white;
	}

	@media all and (max-width: $bp-med) {
		display: block;
		margin-bottom: 0.25em;
	}
}
/************End Buttons**************/

//Atomic Design Flow
.atomic-design {
	margin: 2em 0 1em;
	padding: 1em 0;
	overflow: hidden;

	li {
		position: relative;
		float: left;
		width: 20%;
		text-align: center;

		&:after {
			content: "";
			position: absolute;
			top: 35%;
			left: 100%;
			display: block;
			width: 0;
			height: 0;
			margin-left: -4px;
			pointer-events: none;
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			border-left: 10px solid $gray;

		}

		&:last-child:after {
			display: none;
		}

		&.inactive {
			opacity: 0.3;
		}
	}

	img {
		display: block;
		margin: 0 auto;
		padding: 0 0.5em;

		@media all and (min-width: 45em) {
			padding: 0 2em;
		}
	}

	&.small {
		max-width: 30em;
		margin: 0 auto;

		img {
			padding: 0 1em;
		}
	}

	@media all and (min-width: 45em) {
		li {
			


			&:after {
				
			}
		}
	}

	@media all and (max-width: 45em) {
		h4 {
			display: none;
		}
	}
}

.section-icon {
	display: block;
	margin-bottom: 1em;

	.atom {
		float: left;
		margin: 0 2em 0 0;
	}

	h3 {
		margin-top: 0;
	}

	p {
		padding-left: 7em;
	}
}

/* Credit Section */
.credit {
	overflow: hidden;
}

.credit-block {
	position: relative;

	img {
		display: block;
		width: 100%;
		position: relative;
		z-index: 0;
		border: 0.5em solid rgba(0,0,0,0.1);
	}

	@media all and (min-width: 40em) {
		float: left;
		width: 33.33333333%;
	}
}

.credit-info {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	width: 10em;
	height: 10em;
	border-radius: 5em;
	margin: -5em 0 0 -5em;
	padding-top: 3.5em;
	background: rgba(0,0,0,0.5);

	a {
		display: block;
		color: $white;
		text-transform: lowercase;
		text-align: center;

		&:hover, &:focus {
			color: $gray-light;
		}
	}
}

/* Documentation Home */
.docs-index {
	.docs-nav ul {
		@extend .g-4up;
	}

	.docs-nav-section {
		@extend .gi;
	}
}

/************Animations**************/
//Rotation Animation
@-webkit-keyframes rotation {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rotation {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); }
}
@-o-keyframes rotation {
	0% { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); }
}
@keyframes rotation {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


/************Icon Fonts**************/
@font-face {
	font-family: 'icons';
	src:url('../assets/fonts/icons.eot');
	src:url('../assets/fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/icons.ttf') format('truetype'),
		url('../assets/fonts/icons.woff') format('woff'),
		url('../assets/fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-arrow-down:before {
	content: "\e602";
}
.icon-menu:before {
	content: "\e603";
}
.icon-download:before {
	content: "\e604";
}
.icon-close:before {
	content: "\e605";
}
.icon-checkmark:before {
	content: "\e606";
}
.icon-github:before {
	content: "\e607";
}
.icon-star:before {
	content: "\e608";
}
.icon-list:before {
	content: "\e609";
}
.icon-numbered-list:before {
	content: "\e60a";
}
.icon-search:before {
	content: "\e60b";
}
.icon-github2:before {
	content: "\e60c";
}
.icon-github3:before {
	content: "\e60d";
}
.icon-twitter:before {
	content: "\e60e";
}
.icon-arrow-up-right:before {
	content: "\e60f";
}
