/patternlabsite/_ARCHIVE/images/icon-atom.png
/patternlabsite/_ARCHIVE/images/icon-molecule.png
/patternlabsite/_ARCHIVE/images/icon-organism.png
/patternlabsite/_ARCHIVE/images/icon-page.png
/patternlabsite/_ARCHIVE/images/icon-template.png
/patternlabsite/_ARCHIVE/index.html
/patternlabsite/_ARCHIVE/resources.html
/patternlabsite/_ARCHIVE/static.css

/patternlabsite/_layouts/.DS_Store

/patternlabsite/.DS_Store
/patternlabsite/assets/.DS_Store
/patternlabsite/assets/_design/.DS_Store
/patternlabsite/css/.DS_Store
/patternlabsite/docs/.DS_Store

/.DS_Store
bu/*
.sass-cache
