/patternlabsite/_ARCHIVE/images/icon-atom.png
/patternlabsite/_ARCHIVE/images/icon-molecule.png
/patternlabsite/_ARCHIVE/images/icon-organism.png
/patternlabsite/_ARCHIVE/images/icon-page.png
/patternlabsite/_ARCHIVE/images/icon-template.png
/patternlabsite/_ARCHIVE/index.html
/patternlabsite/_ARCHIVE/resources.html
/patternlabsite/_ARCHIVE/static.css
