$gray-light : #ddd;
$gray : #808080;
$gray-dark: #222;
$gray-dark-2: #444;
$white : #fff;
$dim : rgba(0,0,0,0.5);

$max-width: 37em;

$bp-med : 34em;

$border : 0.1rem;

/************Reset**************/
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}
html, body, div, object, iframe, fieldset { 
	margin: 0; 
	padding: 0; 
	border: 0;
} 
ol, ul { 
	list-style: none;
	margin: 0;
	padding: 0;
} 
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
header, footer, nav, section, article, hgroup, figure {
	display: block;	
}
legend {
	display: none;
}
/************End Reset**************/

/************Global**************/
body {
	background: $gray-light;
	color: $gray-dark;
	font: 120%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	border-bottom: 20px solid $gray-dark;
}
a {
	color: $gray;
	text-decoration: none;
}
a:hover, a:focus {
	color: $gray;
}
p {
	margin: 0 0 1em;
}
img, object, video {
	max-width: 100%;
	border: 0;
}
a img {
	border: 0;
	outline: 0;
}
h1 {
	font-size: 3em;
	line-height: 1;
	letter-spacing: -0.02em;
	margin-bottom: 0.2em;
}
h2 {
	text-transform: lowercase;
	font-size: 3em;
	line-height: 1.1;
	margin: 0 0 0.4em;
}
h3 {
	font-size: 1.8em;
	line-height: 1.1;
	margin: 0 0 0.2em;
	text-transform: lowercase;
}
h4 {
	font-size: 1em;
	text-transform: lowercase;
	margin: 0.5em 0;
}

h2 a, h3 a {
	color: $gray-dark;

	&:hover {
		color: $gray;
	}
}

blockquote {
	font-size: 1.3rem;
	font-style: italic;
	margin-left: 0;

	p {
		margin-bottom: 0;
	}
}

input[type=search] {
	-webkit-appearance: none;
	border-radius: 0;
}
::-webkit-input-placeholder {
	color: #808080;
}
:-moz-placeholder {  
    color: #808080;
}

pre {
	background: $gray-dark;
	color: $white;
	padding: 0.5rem;
}
/************End Global**************/

/************Layout**************/
/* Grid 2up */
.g-2up {
	@media all and (min-width: $bp-med) {
		> .gi {
			float: left;
			width: 50%;
			
			&:nth-of-type(odd) {
				clear: left;
				padding-right: 0.5em;
			}

			&:nth-of-type(even) {
				padding-left: 0.5em;
			}
		}
	}
}
/************End Layout**************/

/************Structure**************/
.container {
	margin: 0 auto;
	overflow: hidden;
}

// Header
.header {
	position: relative;
}

.nav {
	background: $gray-dark;
	overflow: hidden;
	margin-bottom: 2em;
	text-transform: uppercase;
	font-size: 0.9em;

	li {
		float: left;
		border-right: 1px solid $gray-dark-2;

		&.right {
			float: right;
		}
	}

	a {
		display: block;
		padding: 0.5rem;

		&:hover, &:focus {
			color: $white;
		}
	}
}

.logo-container {
	max-width: 32rem;
	text-align: center;
	margin: 0 auto;
}

.logo {
	text-transform: lowercase;
	
	margin: 0 auto;
	font-size: 3rem;
	position: relative;
	line-height: 1;
	margin: 0;

	@media all and (min-width: $bp-med) {
		font-size: 5rem;
		display: inline-block;
		padding-left: 6rem;

		.atom {
			position: absolute;
			top: 0.5rem;
			left: 0;
			z-index: 1;
		}
	}	
}

// Main Content
.main {
	margin: 0 auto;
	max-width: $max-width;
	padding: 0 1em;
}

.atom {
	display: block;
	width: 5rem;
	height: 5rem;
	padding: 10px;
	margin: 0 auto;
	border-radius: 2.5rem;
	background: $gray-dark;
	-webkit-animation: rotation 10s linear infinite;
	-moz-animation: rotation 10s linear infinite;
	-o-animation: rotation 10s linear infinite;
	animation: rotation 10s linear infinite;

	&:before {
		content: "";
		display: block;
		width: 2.5rem;
		height: 2.5rem;
		background: $gray-dark;
		border: 10px solid $gray-light;
		border-radius: 2rem;

	}

	&:after {
		content: "";
		display: block;
		width: 1.2rem;
		height: 1.2rem;
		border-radius: 0.6rem;
		background: $gray;
		position: absolute;
		left: -0.3rem;
		top: 50%;
	}

	&:hover {
		&:before {
			background: $gray;
		}
	}
}

.tagline {
	text-transform: lowercase;
	font-size: 0.8em;
	position: relative;
	z-index: 1;

	@media all and (min-width: $bp-med) {
		text-align: right;
		padding-right: 0.8rem;
		margin-top: -0.7em;
	}
}
//End Header

[role=main] {
	padding-bottom: 1em;
}

section {
	padding: 2em 0;
	border-top: $border dashed $gray;
	overflow: hidden;
}

[role=contentinfo] {
	clear: both;
	text-align: center;
	font-size: 0.8em;
}

/************End Structure**************/

/************Text**************/
.intro {
	font-size: 1.8rem;

	@media all and (min-width: $bp-med) {
		text-align: center;

		&.left {
			text-align: left;
		}
	}
}

.list {
	margin-bottom: 2em;

	li {
		margin-bottom: 1em;
	}
}

/************End Text**************/


/************Buttons**************/
.btn-group {
	text-align: center;
	margin: 1em 0;
	padding: 1em 0 2em;
}

.btn {
	text-transform: lowercase;
	font-weight: bold;
	padding: 1rem;
	background: $gray-dark;
	border-bottom: $border solid $gray;
	color: $white;
	transition: background 0.15s ease-out;

	&:hover {
		background: $gray;
		border-color: $gray-dark;
		color: $white;
	}

	@media all and (max-width: $bp-med) {
		display: block;
		margin-bottom: 0.25em;
	}
}
/************End Buttons**************/

//Atomic Design Flow
.atomic-design {
	margin: 2em 0 1em;
	padding: 1em 0;
	overflow: hidden;

	li {
		position: relative;
		margin: 0 auto 2em;
		width: 5em;
		text-align: center;

		&:after {
			content: "";
			position: absolute;
			top: 110%;
			left: 50%;
			display: block;
			width: 0;
			height: 0;
			margin-left: -8px;
			pointer-events: none;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 10px solid $gray;

		}

		&:last-child:after {
			display: none;
		}
	}

	img {
		display: block;
		max-width: 5em;
		margin: 0 auto;
	}

	@media all and (min-width: 38em) {
		li {
			float: left;
			width: 20%;
			margin-bottom: 0;

			&:after {
				top: 35%;
				left: 100%;
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				border-left: 10px solid $gray;
			}
		}
		
	}
}

.section-icon {
	.atom {
		float: left;
		margin: 0 2em 0 0;
	}

	h3 {
		margin-top: 0;
	}

	p {
		padding-left: 7em;
	}
}

/************Animations**************/
//Rotation Animation
@-webkit-keyframes rotation {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rotation {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); }
}
@-o-keyframes rotation {
	0% { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); }
}
@keyframes rotation {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

//Todo
.todo {
	color: red;
	font-weight: bold;
}
