<ul class="link-list">
	<li class="link-list__item{% if page.url == '/docs/data-overview.html' %} link-list__item--is-selected{% endif %}"><a class="link-list__link" href="/docs/data-overview.html">Overview of Data</a></li>
	<li class="link-list__item{% if page.url == '/docs/data-json-mustache.html' %} link-list__item--is-selected{% endif %}"><a class="link-list__link" href="/docs/data-json-mustache.html">Intro to JSON &amp; Mustache</a></li>
	<li class="link-list__item{% if page.url == '/docs/data-pattern-specific.html' %} link-list__item--is-selected{% endif %}"><a class="link-list__link" href="/docs/data-pattern-specific.html">Pattern-specific data</a></li>
	<li class="link-list__item{% if page.url == '/docs/data-link-variable.html' %} link-list__item--is-selected{% endif %}"><a class="link-list__link" href="/docs/data-link-variable.html">link variable</a></li>
	<li class="link-list__item{% if page.url == '/docs/data-listitems.html' %} link-list__item--is-selected{% endif %}"><a class="link-list__link" href="/docs/data-listitems.html">listItems variable</a></li>
</ul>
