<nav class="docs-nav">
	<ul>
		<li class="docs-nav__section">
			<h4 class="docs-nav__title">Getting Started</h4>
			{% include docs-nav-start.html %}
		</li>
		<li class="docs-nav__section">
			<h4 class="docs-nav__title">Working with Patterns</h4>
			{% include docs-nav-patterns.html %}
		</li>
		<li class="docs-nav__section">
			<h4 class="docs-nav__title">Working with Data</h4>
			{% include docs-nav-data.html %}
		</li>
		<li class="docs-nav__section">
			<h4 class="docs-nav__title">Advanced Features</h4>
			{% include docs-nav-advanced.html %}
		</li>
	</ul>
</nav>