<ul class="link-list">
	<li class="link-list__item{% if page.url == '/docs/requirements.html' %} link-list__item--is-selected{% endif %}"><a class="link-list__link" href="/docs/requirements.html">Requirements</a></li>
	<li class="link-list__item{% if page.url == '/docs/installation.html' %} link-list__item--is-selected{% endif %}"><a class="link-list__link" href="/docs/installation.html">Installing</a></li>
	<li class="link-list__item{% if page.url == '/docs/generating-pattern-lab.html' %} link-list__item--is-selected{% endif %}"><a class="link-list__link" href="/docs/generating-pattern-lab.html">Generating</a></li>
	<li class="link-list__item{% if page.url == '/docs/viewing-patterns.html' %} link-list__item--is-selected{% endif %}"><a class="link-list__link" href="/docs/viewing-patterns.html">Viewing</a></li>
	<li class="link-list__item{% if page.url == '/docs/editing-source-files.html' %} link-list__item--is-selected{% endif %}"><a class="link-list__link" href="/docs/editing-source-files.html">Editing</a></li>
	<li class="link-list__item{% if page.url == '/docs/command-line.html' %} link-list__item--is-selected{% endif %}"><a class="link-list__link" href="/docs/command-line.html">Using commands</a></li>
	<li class="link-list__item{% if page.url == '/docs/advanced-config-options.html' %} link-list__item--is-selected{% endif %}"><a class="link-list__link" href="/docs/advanced-config-options.html">Configuring</a></li>
	<li class="link-list__item{% if page.url == '/docs/upgrading.html' %} link-list__item--is-selected{% endif %}"><a class="link-list__link" href="/docs/upgrading.html">Upgrading</a></li>
</ul>
