<ul class="link-list">
	<li{% if page.url == '/docs/requirements.html' %} class="selected"{% endif %}><a href="/docs/requirements.html">Requirements</a></li>
	<li{% if page.url == '/docs/installation.html' %} class="selected"{% endif %}><a href="/docs/installation.html">Installing</a></li>
	<li{% if page.url == '/docs/upgrading.html' %} class="selected"{% endif %}><a href="/docs/upgrading.html">Upgrading</a></li>
	<li{% if page.url == '/docs/first-run.html' %} class="selected"{% endif %}><a href="/docs/first-run.html">Generating for the first time</a></li>
	<li{% if page.url == '/docs/editing-source-files.html' %} class="selected"{% endif %}><a href="/docs/editing-source-files.html">Editing source files</a></li>
	<li{% if page.url == '/docs/command-line.html' %} class="selected"{% endif %}><a href="/docs/command-line.html">Using the command line options</a></li>
	<li{% if page.url == '/docs/command-prompt-windows.html' %} class="selected"{% endif %}><a href="/docs/command-prompt-windows.html">Command prompt on Windows</a></li>
</ul>
