<p>Pick the Node version of Pattern Lab you'd like based on your environment or task runner preference:</p>
<ul class="link-desc-list">
  <li class="link-desc-list__item">
      <a class="link-desc-list__link" href="https://github.com/pattern-lab/patternlab-node/tree/master/packages/edition-node">Vanilla Edition</a>
      <p class="link-desc-list__desc">The pure Node wrapper around <a href="https://github.com/pattern-lab/patternlab-node/tree/master/packages/core">Pattern Lab Node Core</a></p>
    </li>
  <li class="link-desc-list__item">
    <a class="link-desc-list__link" href="https://github.com/pattern-lab/patternlab-node/tree/master/packages/edition-node-gulp">Gulp Edition</a>
    <p class="link-desc-list__desc">The Gulp wrapper around <a href="https://github.com/pattern-lab/patternlab-node/tree/master/packages/core">Pattern Lab Node Core</a></p>
  </li>
  <li class="link-desc-list__item">
    <a class="link-desc-list__link" href="https://github.com/pattern-lab/edition-node-grunt">Grunt Edition</a>
    <p class="link-desc-list__desc">The Grunt wrapper around <a href="https://github.com/pattern-lab/patternlab-node/tree/master/packages/core">Pattern Lab Node Core</a></p>
  </li>
  <li class="link-desc-list__item">
    <a class="link-desc-list__link" href="https://github.com/Comcast/patternlab-edition-node-webpack">Webpack Edition</a>
    <p class="link-desc-list__desc">The Webpack wrapper around <a href="https://github.com/pattern-lab/patternlab-node/tree/master/packages/core">Pattern Lab Node Core</a> Thanks to the team at Comcast for <a href="https://comcast.github.io">open-sourcing</a> this stellar work!</p>
  </li>  
</ul>
