<p>Choose your own adventure! Pick the edition of Pattern Lab 2 that you'd like based on template language or environment:</p>
  <ul class="link-desc-list">
<li class="link-desc__item">
<a class="link-desc-list__link" href="https://github.com/pattern-lab/patternlab-php">Mustache Edition</a>
<p class="link-desc-list__desc">This edition of Pattern Lab uses Mustache as the templating engine.</p>
</li>
<li class="link-desc-list__item">
<a class="link-desc-list__link" href="https://github.com/pattern-lab/edition-php-twig-standard">Twig Edition</a>
<p class="link-desc-list__desc">This edition of Pattern Lab uses Twig as the templating engine.</p>
</li>
<li class="link-desc-list__item">
<a class="link-desc-list__link" href="https://github.com/pattern-lab/edition-php-drupal-standard">Drupal Edition</a>
<p class="link-desc-list__desc">This edition uses Twig and includes some Drupal-specific additions for easy Drupal theme integration.</p>
</li>
<li class="link-desc-list__item">
<a class="link-desc-list__link" href="https://github.com/pattern-lab/edition-php-thin">Thin Edition</a>
<p class="link-desc-list__desc">The thin edition serves as a clean base upon which you can build your own custom edition.</p>
</li>
