<p>Pick the Node version of Pattern Lab you'd like based on your environment or task runner preference:</p>
<ul class="link-desc-list">
  <li class="link-desc-list__item">
    <a class="link-desc-list__link" href="https://github.com/pattern-lab/edition-node-gulp ">Gulp Edition</a>
    <p class="link-desc-list__desc">The Gulp wrapper around <a href="https://github.com/pattern-lab/patternlab-node">Pattern Lab Node Core</a>, providing tasks to interact with the core pattern-building library and manage supporting frontend assets.</p>
  </li>
  <li class="link-desc-list__item">
    <a class="link-desc-list__link" href="https://github.com/pattern-lab/edition-node-grunt">Grunt Edition</a>
    <p class="link-desc-list__desc">The Grunt wrapper around <a href="https://github.com/pattern-lab/patternlab-node">Pattern Lab Node Core</a>, providing tasks to interact with the core pattern-building library and manage supporting frontend assets.</p>
  </li>
</ul>
