<p>To install Pattern Lab 3.0, run the following command in your terminal:</p>

<pre>
<code>
npm create pattern-lab
</code>
</pre>

This will bring up an installation menu that presents the following steps: 

<ol>
  <li><code>Please specify a directory for your Pattern Lab project.</code> - Choose the directory where you want to install Pattern Lab. The current directory is the default location.</li>
  <li><code>Which edition do you want to use (defaults to edition-node)?</code> - Choose the Pattern Lab edition that you want to install. The options are: <code>edition-node (handlebars engine)</code> , <code>edition-twig (php engine)</code>, and <code>edition-node-gulp (legacy)</code></li>
  <li><code>Which starterkit do you want to use?</code> - Choose the <a href="/docs/advanced-starterkits.html">Starterkit</a> you want to begin your project with. Starterkits define the initial components and assets that are included in the initial project. Start from scratch, start from a full demo, or a lightweight boilerplate.</li>
  <li><code>Are you happy with your choices? (Hit enter for YES)?</code> - Confirm your choices, and when done the Pattern Lab installation will begin.</li>
</ol>

With those questions answered, Pattern Lab will begin installing. Once the installation is complete, you're ready to <a href="/docs/generating-pattern-lab.html">generate Pattern Lab for the first time.</a>

<hr />

<p>Legacy versions of Pattern Lab Node 2.X are also available:</p>

<ul class="link-desc-list">
    <li class="link-desc-list__item">
        <a class="link-desc-list__link" href="https://github.com/pattern-lab/edition-node-gulp/releases/tag/v1.3.4">Gulp Edition</a>
        <p class="link-desc-list__desc">The Gulp wrapper around <a href="https://github.com/pattern-lab/patternlab-node/tree/master/packages/core">Pattern Lab Node Core</a></p>
      </li>

  <li class="link-desc-list__item">
    <a class="link-desc-list__link" href="https://github.com/Comcast/patternlab-edition-node-webpack">Webpack Edition</a>
    <p class="link-desc-list__desc">The Webpack wrapper around <a href="https://github.com/pattern-lab/patternlab-node/tree/master/packages/core">Pattern Lab Node Core</a> Thanks to the team at Comcast for <a href="https://comcast.github.io">open-sourcing</a> this stellar work!</p>
  </li>  
</ul>
