<header class="header" role="banner">

    <a href="/" class="logo" rel="home"><span class="atom logo__icon"></span><span class="logo__text">Pattern Lab</span></a>

    <nav class="nav" role="navigation">
		<button class="nav__btn" href="#nav-list">Menu</button>

        <ul class="nav__list" id="nav__list">
		    <li class="nav__item"><a href="/download.html" class="nav__link">Downloads</a></li>
		    <li class="nav__item"><a href="/docs/index.html" class="nav__link">Documentation</a></li>
		    <li class="nav__item"><a href="/resources.html" rel="external" class="nav__link" target="_blank">Resources</a></li>
		    <li class="nav__item"><a href="http://demo.patternlab.io" target="_blank" class="nav__link">Demo</a></li>
		    <li class="nav__item"><a href="https://github.com/pattern-lab/" rel="external" target="blank" class="nav__link">On Github</a></li>
		</ul>
	</nav>

</header><!--end .header-->

<main role="main">
