<!doctype html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../../css/prism.css" media="all" />
  <script src="../js/prism.js"></script>
</head>

<body class="docs">
    {% include header.html %}
    <div class="banner">
        <div class="lc">
	        <h1>{{ page.heading }}</h1>
        </div>
    </div>
    <div class="language-toggle">
        <div class="lc">
	        <ul class="tabs">
		        {% for item in page.languages %}
		        <li class="tab"><a class="language-btn"
	href="#{{ item.language }}">{{ item.language }}</a></li>
			    {% endfor %}
		    </ul>
        </div>
    </div>
    <div class="guts">
        <div class="lc inner-lc">
            <div class="l-two-col">
          		<div class="content">
               {{content}}
            	</div><!--end .content-->

              <div class="sidebar">
                {% include docs-navigation.html %}
              </div><!--end .sidebar-->
            </div><!--end .l-two-col-->
        </div><!--end .lc-->
    </div><!--end .guts-->

    {% include footer.html %}
