<nav class="docs-nav">
	<ul>
		<li class="docs-nav-section">
			<h4 class="docs-nav-title">Getting Started</h4>
			<ul class="docs-nav-list">
				<li{% if page.url == '/docs/requirements.html' %} class="selected"{% endif %}><a href="/docs/requirements.html">Requirements</a></li>
				<li{% if page.url == '/docs/installation.html' %} class="selected"{% endif %}><a href="/docs/installation.html">Installing</a></li>
				<li{% if page.url == '/docs/upgrading.html' %} class="selected"{% endif %}><a href="/docs/upgrading.html">Upgrading</a></li>
				<li{% if page.url == '/docs/first-run.html' %} class="selected"{% endif %}><a href="/docs/first-run.html">Generating for the first time</a></li>
				<li{% if page.url == '/docs/editing-source-files.html' %} class="selected"{% endif %}><a href="/docs/editing-source-files.html">Editing source files</a></li>
				<li{% if page.url == '/docs/command-line.html' %} class="selected"{% endif %}><a href="/docs/command-line.html">Using the command line options</a></li>
				<li{% if page.url == '/docs/command-prompt-windows.html' %} class="selected"{% endif %}><a href="/docs/command-prompt-windows.html">Command prompt on Windows</a></li>
			</ul>
		</li>
		<li class="docs-nav-section">
			<h4 class="docs-nav-title">Working with Patterns</h4>
			<ul class="docs-nav-list">
				<li{% if page.url == '/docs/pattern-organization.html' %} class="selected"{% endif %}><a href="/docs/pattern-organization.html">How patterns are organized</a></li>
				<li{% if page.url == '/docs/pattern-add-new.html' %} class="selected"{% endif %}><a href="/docs/pattern-add-new.html">Adding new patterns</a></li>
				<li{% if page.url == '/docs/pattern-reorganizing.html' %} class="selected"{% endif %}><a href="/docs/pattern-reorganizing.html">Reorganizing patterns</a></li>
				<li{% if page.url == '/docs/pattern-including.html' %} class="selected"{% endif %}><a href="/docs/pattern-including.html">Including patterns in one another</a></li>
				<li{% if page.url == '/docs/pattern-managing-assets.html' %} class="selected"{% endif %}><a href="/docs/pattern-managing-assets.html">Managing assets for a pattern</a></li>
				<li{% if page.url == '/docs/pattern-header-footer.html' %} class="selected"{% endif %}><a href="/docs/pattern-header-footer.html">Modifying the pattern header &amp; footer</a></li>
				<li{% if page.url == '/docs/pattern-pseudo-patterns.html' %} class="selected"{% endif %}><a href="/docs/pattern-pseudo-patterns.html">Using pseudo-patterns</a></li>
				<li{% if page.url == '/docs/pattern-parameters.html' %} class="selected"{% endif %}><a href="/docs/pattern-parameters.html">Using pattern parameters</a></li>
				<li{% if page.url == '/docs/pattern-states.html' %} class="selected"{% endif %}><a href="/docs/pattern-states.html">Using pattern states</a></li>
				<li{% if page.url == '/docs/pattern-stylemodifier.html' %} class="selected"{% endif %}><a href="/docs/pattern-stylemodifier.html">Using styleModifiers</a></li>
				<li{% if page.url == '/docs/pattern-hiding.html' %} class="selected"{% endif %}><a href="/docs/pattern-hiding.html">"Hiding" patterns in the navigation</a></li>
				<li{% if page.url == '/docs/pattern-adding-annotations.html' %} class="selected"{% endif %}><a href="/docs/pattern-adding-annotations.html">Adding annotations</a></li>
				<li{% if page.url == '/docs/pattern-mobile-view.html' %} class="selected"{% endif %}><a href="/docs/pattern-mobile-view.html">Viewing patterns on a mobile device</a></li>
			</ul>
		</li>
		<li class="docs-nav-section">
			<h4 class="docs-nav-title">Working with Data</h4>
			<ul class="docs-nav-list">
				<li{% if page.url == '/docs/data-json-mustache.html' %} class="selected"{% endif %}><a href="/docs/data-json-mustache.html">Intro to JSON &amp; Mustache</a></li>
				<li{% if page.url == '/docs/data-pattern-specific.html' %} class="selected"{% endif %}><a href="/docs/data-pattern-specific.html">Pattern-specific data</a></li>
				<li{% if page.url == '/docs/data-link-variable.html' %} class="selected"{% endif %}><a href="/docs/data-link-variable.html">link variable</a></li>
				<li{% if page.url == '/docs/data-listitems.html' %} class="selected"{% endif %}><a href="/docs/data-listitems.html">listItems variable</a></li>
			</ul>
		</li>
		<li class="docs-nav-section">
			<h4 class="docs-nav-title">Advanced Features</h4>
			<ul class="docs-nav-list">
				<li{% if page.url == '/docs/advanced-auto-regenerate.html' %} class="selected"{% endif %}><a href="/docs/advanced-auto-regenerate.html">Watching for changes</a></li>
				<li{% if page.url == '/docs/advanced-reload-browser.html' %} class="selected"{% endif %}><a href="/docs/advanced-reload-browser.html">Page auto-reload</a></li>
				<li{% if page.url == '/docs/advanced-page-follow.html' %} class="selected"{% endif %}><a href="/docs/advanced-page-follow.html">Page follow</a></li>
				<li{% if page.url == '/docs/advanced-keyboard-shortcuts.html' %} class="selected"{% endif %}><a href="/docs/advanced-keyboard-shortcuts.html">Keyboard shortcuts</a></li>
				<li{% if page.url == '/docs/pattern-linking.html' %} class="selected"{% endif %}><a href="/docs/pattern-linking.html">Special query string variables</a></li>
				<li{% if page.url == '/docs/advanced-clean-public.html' %} class="selected"{% endif %}><a href="/docs/advanced-clean-public.html">Stopping public/ from being cleaned</a></li>
				<li{% if page.url == '/docs/advanced-generating-css.html' %} class="selected"{% endif %}><a href="/docs/advanced-generating-css.html">Generating CSS</a></li>
				<li{% if page.url == '/docs/advanced-pattern-lab-nav.html' %} class="selected"{% endif %}><a href="/docs/advanced-pattern-lab-nav.html">Modifying the Pattern Lab nav</a></li>
				<li{% if page.url == '/docs/advanced-config-options.html' %} class="selected"{% endif %}><a href="/docs/advanced-config-options.html">Editing the config.ini options</a></li>
				<li{% if page.url == '/docs/advanced-integration-with-compass.html' %} class="selected"{% endif %}><a href="/docs/advanced-integration-with-compass.html">Integration with Compass</a></li>
				<li{% if page.url == '/docs/advanced-integration-with-grunt.html' %} class="selected"{% endif %}><a href="/docs/advanced-integration-with-grunt.html">Integration with Grunt</a></li>
			</ul>
		</li>
	</ul>
</nav>