<nav class="side-nav">
	<ul>
		<li>
			<h4 class="side-nav-title">Getting Started</h4>
			<ul>
				<li><a href="#">Requirements</a></li>
				<li><a href="#">Installing</a></li>
				<li><a href="#">Generating for the first time</a></li>
				<li><a href="#">Editing source files</a></li>
				<li><a href="#">Using the command line options</a></li>
				<li><a href="#">Using the advanced features</a></li>
			</ul>
		</li>
		<li>
			<h4 class="side-nav-title">Working with Patterns</h4>
			<ul>
				<li><a href="#">How patterns are organized</a></li>
				<li><a href="#">Adding new patterns</a></li>
				<li><a href="#">Reorganizing patterns</a></li>
				<li><a href="#">"Hiding" patterns in the navigation</a></li>
				<li><a href="#">Including patterns</a></li>
				<li><a href="#">Linking to a pattern</a></li>
				<li><a href="#">Managing assets for a pattern</a></li>
			</ul>
		</li>
		<li>
			<h4 class="side-nav-title">Working with Data</h4>
			<ul>
				<li><a href="#">Intro to JSON &anp; Mustache</a></li>
				<li><a href="#">Adding new patterns</a></li>
				<li><a href="#">Reorganizing patterns</a></li>
				<li><a href="#">"Hiding" patterns in the navigation</a></li>
				<li><a href="#">Including patterns</a></li>
				<li><a href="#">Linking to a pattern</a></li>
				<li><a href="#">Managing assets for a pattern</a></li>
			</ul>
		</li>
		<li>
			<h4 class="side-nav-title">Advanced Features</h4>
			<ul>
				<li><a href="#">Watching for Changes</a></li>
				<li><a href="#">Page Autorefresh</a></li>
				<li><a href="#">Page Follow</a></li>
			</ul>
		</li>
	</ul>
</nav>