<nav class="docs-nav">
	<ul>
		<li class="docs-nav-section">
			<h4 class="docs-nav-title">Getting Started</h4>
			<ul class="docs-nav-list">
				<li><a href="/docs/requirements.html">Requirements</a></li>
				<li><a href="/docs/installation.html">Installing</a></li>
				<li><a href="/docs/first-run.html">Generating for the first time</a></li>
				<li><a href="/docs/editing-source-files.html">Editing source files</a></li>
				<li><a href="/docs/command-line.html">Using the command line options</a></li>
				<li><a href="/docs/command-prompt-windows.html">Command prompt on Windows</a></li>
			</ul>
		</li>
		<li class="docs-nav-section">
			<h4 class="docs-nav-title">Working with Patterns</h4>
			<ul class="docs-nav-list">
				<li><a href="/docs/pattern-organization.html">How patterns are organized</a></li>
				<li><a href="/docs/pattern-add-new.html">Adding new patterns</a></li>
				<li><a href="/docs/pattern-reorganizing.html">Reorganizing patterns</a></li>
				<li><a href="/docs/pattern-hiding.html">"Hiding" patterns in the navigation</a></li>
				<li><a href="/docs/pattern-including.html">Including patterns</a></li>
				<li><a href="/docs/pattern-linking.html">Linking to a pattern</a></li>
				<li><a href="/docs/pattern-managing-assets.html">Managing assets for a pattern</a></li>
				<li><a href="/docs/pattern-mobile-view.html">Viewing patterns on a mobile device</a></li>
				<li><a href="/docs/pattern-adding-annotations.html">Adding annotations</a></li>
			</ul>
		</li>
		<li class="docs-nav-section">
			<h4 class="docs-nav-title">Working with Data</h4>
			<ul class="docs-nav-list">
				<li><a href="/docs/data-json-mustache.html">Intro to JSON &amp; Mustache</a></li>
				<li><a href="/docs/data-pattern-specific.html">Pattern-specific data</a></li>
				<li><a href="/docs/data-link-variable.html">link variable</a></li>
				<li><a href="/docs/data-listitems.html">listItems variable</a></li>
			</ul>
		</li>
		<li class="docs-nav-section">
			<h4 class="docs-nav-title">Advanced Features</h4>
			<ul class="docs-nav-list">
				<li><a href="/docs/advanced-auto-regenerate.html">Watching for changes</a></li>
				<li><a href="/docs/advanced-reload-browser.html">Page autorefresh</a></li>
				<li><a href="/docs/advanced-page-follow.html">Page follow</a></li>
				<li><a href="/docs/advanced-generating-css.html">Generating CSS</a></li>
				<li><a href="/docs/advanced-integration-with-compass.html">Integration with Compass</a></li>
			</ul>
		</li>
	</ul>
</nav>