<nav class="docs-nav">
	<h3 class="sub-only">Pattern Lab Node</h3>
	<ul>
		<li class="docs-nav-section">
			<h4 class="docs-nav-title">Getting Started</h4>
			<ul class="docs-nav-list">
				<li><a href="/docs/node/requirements.html">Requirements </a></li>
				<li><a href="/docs/node/installation.html">Installing</a></li>
				<li><a href="/docs/node/upgrading.html">Upgrading</a></li>
				<li><a href="/docs/node/first-run.html">Generating for the first time</a></li>
				<li><a href="/docs/node/editing-source-files.html">Editing source files</a></li>
				<li><a href="/docs/node/command-line.html">Command line options</a></li>
			</ul>
		</li>
		<li class="docs-nav-section">
			<h4 class="docs-nav-title">Working with Patterns</h4>
			<ul class="docs-nav-list">
				<li><a href="/docs/pattern-organization.html">&cap; How patterns are organized</a></li>
				<li><a href="/docs/pattern-add-new.html">&cap; Adding new patterns</a></li>
				<li><a href="/docs/pattern-reorganizing.html">&cap; Reorganizing patterns</a></li>
				<li><a href="/docs/pattern-including.html">&cap; Including patterns in one another</a></li>
				<li><a href="/docs/node/pattern-managing-assets.html">Managing assets for a pattern</a></li>
				<li><a href="/docs/node/pattern-header-footer.html">Modifying the pattern header &amp; footer</a></li>
				<!-- <li><a href="/docs/pattern-pseudo-patterns.html">Using pseudo-patterns - TODO</a></li> -->
				<!-- <li><a href="/docs/pattern-parameters.html">Using pattern parameters - TODO</a></li> -->
				<li><a href="/docs/pattern-hiding.html">&cap; "Hiding" patterns in the navigation</a></li>
				<li><a href="/docs/pattern-adding-annotations.html">&cap; Adding annotations</a></li>
				<!-- <li><a href="/docs/pattern-mobile-view.html">Viewing patterns on a mobile device - TODO</a></li> -->
			</ul>
		</li>
		<li class="docs-nav-section">
			<h4 class="docs-nav-title">Working with Data</h4>
			<ul class="docs-nav-list">
				<li><a href="/docs/data-json-mustache.html">&cap; Intro to JSON &amp; Mustache</a></li>
				<li><a href="/docs/data-pattern-specific.html">&cap; Pattern-specific data</a></li>
				<!-- <li><a href="/docs/data-link-variable.html">link variable - TODO</a></li> -->
				<!-- <li><a href="/docs/data-listitems.html">listItems variable - TODO</a></li> -->
			</ul>
		</li>
		<li class="docs-nav-section">
			<h4 class="docs-nav-title">Advanced Features</h4>
			<ul class="docs-nav-list">
				<li><a href="/docs/node/advanced-auto-reloading-the-browser.html">Watching for changes and browser reload</a></li>
				<!-- <li><a href="/docs/advanced-page-follow.html">Page follow - TODO</a></li> -->
				<!-- <li><a href="/docs/advanced-keyboard-shortcuts.html">Keyboard shortcuts - TODO</a></li> -->
				<li><a href="/docs/pattern-linking.html">&cap; Special query string variables</a></li>
				<!-- <li><a href="/docs/advanced-clean-public.html">Stopping public/ from being cleaned - TODO</a></li> -->
				<!-- <li><a href="/docs/advanced-generating-css.html">Generating CSS - TODO</a></li> -->
				<!-- <li><a href="/docs/advanced-integration-with-compass.html">Integration with Compass - TODO</a></li> -->
				<li><a href="/docs/node/advanced-exporting-patterns.html">Exporting Patterns</a></li>
			</ul>
		</li>
	</ul>
	<span class="sub-only">&cap; linked intersection with PHP</span>
</nav>