<ul class="docs-nav-list">
	<li{% if page.url == '/docs/advanced-auto-regenerate.html' %} class="selected"{% endif %}><a href="/docs/advanced-auto-regenerate.html">Watching for changes</a></li>
	<li{% if page.url == '/docs/advanced-reload-browser.html' %} class="selected"{% endif %}><a href="/docs/advanced-reload-browser.html">Page auto-reload</a></li>
	<li{% if page.url == '/docs/advanced-page-follow.html' %} class="selected"{% endif %}><a href="/docs/advanced-page-follow.html">Page follow</a></li>
	<li{% if page.url == '/docs/advanced-keyboard-shortcuts.html' %} class="selected"{% endif %}><a href="/docs/advanced-keyboard-shortcuts.html">Keyboard shortcuts</a></li>
	<li{% if page.url == '/docs/pattern-linking.html' %} class="selected"{% endif %}><a href="/docs/pattern-linking.html">Special query string variables</a></li>
	<li{% if page.url == '/docs/advanced-clean-public.html' %} class="selected"{% endif %}><a href="/docs/advanced-clean-public.html">Stopping public/ from being cleaned</a></li>
	<li{% if page.url == '/docs/advanced-generating-css.html' %} class="selected"{% endif %}><a href="/docs/advanced-generating-css.html">Generating CSS</a></li>
	<li{% if page.url == '/docs/advanced-pattern-lab-nav.html' %} class="selected"{% endif %}><a href="/docs/advanced-pattern-lab-nav.html">Modifying the Pattern Lab nav</a></li>
	<li{% if page.url == '/docs/advanced-config-options.html' %} class="selected"{% endif %}><a href="/docs/advanced-config-options.html">Editing the config.ini options</a></li>
	<li{% if page.url == '/docs/advanced-integration-with-compass.html' %} class="selected"{% endif %}><a href="/docs/advanced-integration-with-compass.html">Integration with Compass</a></li>
	<li{% if page.url == '/docs/advanced-integration-with-grunt.html' %} class="selected"{% endif %}><a href="/docs/advanced-integration-with-grunt.html">Integration with Grunt</a></li>
</ul>