<div class="container">
	<header class="header" role="banner">
	  <nav class="nav" role="navigation">
	    <ul>
	      <li><a href="/docs/">Documentation</a></li>
	      <li><a href="/about/">About</a></li>
	      <li><a href="/resources/">Resources</a></li>
	      <li class="right"><a href="https://github.com/pattern-lab/patternlab-php" rel="external" target="blank">On Github</a></li>
	      <li class="right"><a href="http://demo.pattern-lab.info">Demo</a></li>
	    </ul>
	  </nav>
	</header><!--end header-->
	<div class="main" role="main">