<div class="container">
	<header class="header" role="banner">
	
	  <h4 class="logo-header"><a href="/"><span class="atom"></span> Pattern Lab</a></h4>

	  <nav class="nav" role="navigation">
	    <ul>
	      <li><a href="/docs/index.html">Documentation</a></li>
	      <li><a href="/about.html">About</a></li>
	      <li><a href="/resources.html">Resources</a></li>
	      <li><a href="http://demo.patternlab.io" target="_blank">Demo</a></li>
	      <li><a href="https://github.com/pattern-lab/patternlab-php" rel="external" target="blank">On Github</a></li>
	    </ul>
	  </nav>

	</header><!--end header-->
	<div class="main" role="main">